echo data/STUDENT_VLE.csv >> .gitignore
git add .gitignore
git commit -m "Ignore large STUDENT_VLE.csv (GitHub size limit)"
git push

__pycache__/
*.py[cod]
*.DS_Store
.vscode/
.venv/
config/.env
data/raw/data/STUDENT_VLE.csv
data/STUDENT_VLE.csv
